@import 'libs/bootstrap-reboot.min';
@import 'libs/font';

* {
    font-family: 'Epilogue';
    scroll-behavior: smooth;
    box-sizing: border-box;
}

h2 {
    font-size: 4vw;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    color: white;
    text-align: center;
}

.container {
    max-width: 80%;
    padding: 0 20px 0 20px;
    margin: 0 auto;
}

@import 'base/variables';
@import 'base/buttons';
@import 'base/modal';
@import 'blocks/home';
@import 'blocks/header';
@import 'blocks/about';
@import 'blocks/portfolio';
@import 'blocks/prices';
@import 'blocks/contacts';
@import 'blocks/footer';


@import 'base/animations';
@import 'base/media';